@model GameEngine.GameStateModel
@{
    Layout = "";
    ViewBag.Title = "Settlers Of Catan";
}

<html>
<head>
    <link href="~/Content/settlerStyle.css" rel="stylesheet" />

</head>
<body>
    <div id="debug"></div>
    <div class="board" id="b1">

        @for (var i = 0; i < 19; i++)
        {
            <div class="hexagon"><img class="hexPosition" id="hexShape@(i)" src=@Model.Board.HexGridImgPath[i] onclick="ElementClick(this.id)"></div>
        }


        @for (var i = 0; i < 53; i++)
        {

            if (Model.Board.Settlement[i] != null)
            {
                <img class="structureDot" id="s@(i)" onclick="ElementClick(this.id)" borderColor="@Model.Board.Settlement[i].Color.Name.ToLower()">
            }
            else if (Model.Board.City[i] != null)
            {
                <img class="structureDot" id="s@(i)" onclick="ElementClick(this.id)" width="25" height="25" borderColor="@Model.Board.City[i].Color.Name.ToLower()">
            }
            else
            {
                <img class="structureDot" id="s@(i)" onclick="ElementClick(this.id)" background-color="white">
            }
        }

        @for (var i = 0; i < 72; i++)
        {
            if (Model.Board.Road[i] != null)
            {
                <div class="road" id="r@(i)" onclick="ElementClick(this.id)" background-color="@Model.Board.City[i].Color.Name.ToLower()"></div>
            }
            else
            {
                <div class="road" id="r@(i)" onclick="ElementClick(this.id)" background-color="white"></div>
            }
        }
    </div>

    <table id="resources">
        <tr>
            <td><div class="picture"><img class="resource" id="wool" src="Images\resources\Wool.png"></img></div></td>

            <td><div class="picture"><img class="resource" id="brick" src="Images\resources\Brick.png"></img></div></td>

            <td><div class="picture"><img class="resource" id="ore" src="Images\resources\Ore.png"></img></div></td>

            <td><div class="picture"><img class="resource" id="wood" src="Images\resources\Wood.png"></img></div></td>

            <td><div class="picture"><img class="resource" id="grain" src="Images\resources\Grain.png"></img></div></td>
        </tr>
    </table>

    <div class="scroll" div id="Eventlog"><B><p>Eventlog</p></B>Test 1<br>Test 2<br>Test 3</div>


    <div class="btn-group" id="threeButton">
        <button type="button" class="btn btn-primary"><b><<<</b></button>
        <button type="button" class="btn btn-primary" onclick="alert('Are you sure you want to perform this action?')"><b>Perfom action</b></button>
        <button type="button" class="btn btn-primary"><b>>>></b></button>

    </div>


    <div class="btn-group" id="fourButton">
        <button><b>City</b></button>
        <button><b>Settlement</b></button>
        <button><b>Road</b></button>
        <button><b>Developmentcard</b></button>
    </div>






    <form action="radiobuttons" id="playerBank">
        <input type="radio" name="aa" value="player"> Player <br>
        <input type="radio" name="aa" value="bank"> Bank <br>
        <div>Trade with bank or player.</div>

    </form>






    <table id="players">
        <tr>
            <td><img src="Images\resources\king.png" id="player1"> Player 1</td>
            <td><img src="Images\resources\king.png" id="player2"> Player 2</td>
            <td><img src="Images\resources\king.png" id="player3"> Player 3</td>
            <td><img src="Images\resources\king.png" id="player4"> Player 4</td>
            <td><img src="Images\resources\king.png" id="player5"> Player 5</td>

        </tr>
    </table>



    <table id="resourceInfo">
        <tr>
            <td><div class="resourceInfo" id="resourceInfo0"><b>1</b></div></td>
            <td><div class="resourceInfo" id="resourceInfo1"><b>2</b></div></td>
            <td><div class="resourceInfo" id="resourceInfo2"><b>3</b></div></td>
            <td><div class="resourceInfo" id="resourceInfo3"><b>4</b></div></td>
            <td><div class="resourceInfo" id="resourceInfo4"><b>5</b></div></td>

        </tr>
    </table>


    <div class="wantGive" id="want"><b> WANT</b>  </div>
    <div class="wantGive" id="give"><b>  GIVE</b>  </div>


    <div id="plusMinus0"><button type="button"> + </button><div><b>0</b></div> <button type="button"> - </button></div>
    <div id="plusMinus1"><button type="button"> + </button><div><b>0</b></div> <button type="button"> - </button></div>
    <div id="plusMinus2"><button type="button"> + </button><div><b>0</b></div> <button type="button"> - </button></div>
    <div id="plusMinus3"><button type="button"> + </button><div><b>0</b></div> <button type="button"> - </button></div>
    <div id="plusMinus4"><button type="button"> + </button><div><b>0</b></div> <button type="button"> - </button></div>



    <div id="plusMinus00"><button type="button"> + </button><div><b>0</b></div> <button type="button"> - </button></div>
    <div id="plusMinus11"><button type="button"> + </button><div><b>0</b></div> <button type="button"> - </button></div>
    <div id="plusMinus22"><button type="button"> + </button><div><b>0</b></div> <button type="button"> - </button></div>
    <div id="plusMinus33"><button type="button"> + </button><div><b>0</b></div> <button type="button"> - </button></div>
    <div id="plusMinus44"><button type="button"> + </button><div><b>0</b></div> <button type="button"> - </button></div>

    <button type="button" id="tradeButton" onclick="alert('Are you sure you want to trade?')"><b>Trade<b /></button>

    <div id="infoBox">Here info will show up</div>

    <button onclick="EndTurn()">END TURN</button>
</body>



</html>

<form action="Game" method="post" id="form">
    <input type="hidden" name="formType" value="normal" />
</form>

<script type="text/javascript">
    //Global variables
    var SetupCollect = "@Model.Events.SetupCollect.ToString().ToLower()";
    var Setup = "@Model.Events.Setup.ToString().ToLower()";
    var SelectedAction = "none";
    var ThiefLock = "@Model.Events.ThiefLock.ToString().ToLower()";
    var Thief = "@Model.Board.Thief";
    //Post data
    function GenerateFormItem(name, value) {

        var element = document.createElement("input");
        element.name = "name";
        element.value = "value";
        element.type = "hidden";
        document.getElementById("form").appendChild(element);

    }

    //loading extras
    window.onload = Load();
    //event manager
    function ElementClick(id) {
        //alert('you clicked element: ' + id);
        //building
        if ("@ViewBag.Id" == "@Model.ActivePlayer.Id") {
            if (ThiefLock != "true") {
                //Setup
                if (Setup == "true") {
                    if (SelectedAction == "buildRoad" & id.includes("r") & document.getElementById(id).style.backgroundColor == "") {
                        document.getElementById(id).style.backgroundColor = "@Model.ActivePlayer.Color.Name.ToLower()";
                        GenerateFormItem("roadChange", id.substring(1));
                        GenerateFormItem("setup", "true");
                        GenerateFormItem("collectResources", SetupCollect);
                        GenerateFormItem("formType", "normal");
                        SetupNextPlayer();
                    } else if (SelectedAction == "buildSettlement" & id.includes("s") & document.getElementById(id).style.borderColor == "") {
                        document.getElementById(id).style.borderColor = "@Model.ActivePlayer.Color.Name.ToLower()";
                        GenerateFormItem("settlementChange", id.substring(1));
                        SelectedAction = "buildRoad";
                    }
                } else {
                    //roads
                    if (SelectedAction == "buildRoad" & id.includes("r") & document.getElementById(id).style.backgroundColor == "") {
                            document.getElementById(id).style.backgroundColor = "@Model.ActivePlayer.Color.Name.ToLower()";
                    }

                    //City
                    if (SelectedAction == "buildCity" & id.includes("s") & document.getElementById(id).style.borderColor == "@Model.ActivePlayer.Color.Name.ToLower()") {
                        document.getElementById(id).style.width = 25;
                        document.getElementById(id).style.height = 25;
                    }

                    //settlement
                    if (SelectedAction == "buildSettlement" & id.includes("s") & document.getElementById(id).style.borderColor == "") {
                        document.getElementById(id).style.borderColor = "@Model.ActivePlayer.Color.Name.ToLower()";
                    }
                    //move Thief
                }
                } else if (id.includes("hexShape") & !(id.includes("hexShape" + Thief))) {
                    var num = id.substring(8);
                    Thief = num;
                    RepositionThief(num);
                    document.getElementById("thief").parentNode.removeChild(document.getElementById("thief"));
                    ThiefLock = "false";
                }

        }

    }

    function RepositionThief(location) {
        var hexId = "hexShape";
        hexId = hexId.concat(location);
        var leftOffset = document.getElementById(hexId).offsetLeft;
        var topOffset = document.getElementById(hexId).offsetTop;
        var ThiefElement = document.createElement("img");
        ThiefElement.src = '\\Content\\Images\\doodad\\Thief.png';
        ThiefElement.setAttribute("height", "70");
        ThiefElement.setAttribute("width", "70");
        ThiefElement.id = "thief";
        ThiefElement.setAttribute("onclick","ElementClick(this.id)")
        ThiefElement.style.position = "relative";
        ThiefElement.style.top = topOffset + 40;
        ThiefElement.style.left = leftOffset + 40;
        document.getElementById("b1").appendChild(ThiefElement);
    }

    function EndTurn() {
        if (Setup == "true"){
            document.getElementById("form").submit();
        }
    }

    function SetupNextPlayer() {
        document.getElementById("form").submit();
    }

    function Load() {
        RepositionThief(@Model.Board.Thief);

        if (Setup == "true") {
            SelectedAction = "buildSettlement";
        }
    }
    //programmer helper functions
    function Debug(parameterString) {
        var element = document.createElement("div");
        var textnode = document.createTextNode(parameterString);
        element.appendChild(textnode);
        document.getElementById("debug").appendChild(element);
    }

</script>